body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

form input {
    width: 300px;
    margin-bottom: 15px;
    border: 2px solid #888;
    border-radius: 8px;     
    padding: 8px;           
}