body {
    background-color: bisque;
}
h1 {
    color: rgb(78, 141, 93); 
    margin-left: 100px; 
    text-shadow: 1px 0.5px 4px rgba(175, 85, 85, 0.5);
}
.container {
    width: 450px; 
    height: 450px;
    background-color: rgb(136, 111, 42); 
    border: 2px solid black;
    border-radius: 5% 5% 5% 5%;
}
    /*--select all squares in array--*/

.container .squares:nth-child(-n+4) {
    background-image: url("../icons/icons.png");
    color: rgb(216, 199, 196);
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 25%;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    }

    /*--sqares paragraph--*/
    
.squares:nth-child(-n+4) p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
}

    /*--select square array--*/

.squares:nth-child(1) {
    background-color: blueviolet;
}
.squares:nth-child(2) {
    background-color: greenyellow;
}
.squares:nth-child(3) {
    background-color: lightcoral;
}
.squares:nth-child(4) {
    background-color: lightseagreen;
}

/*--hover effect--*/

.container .squares:nth-child(-n+4):hover {
    background-image: url("../icons/icons2.png");
    transform: scale(0.9);
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.squares:nth-child(1):hover {
    background: whitesmoke;
}
.squares:nth-child(2):hover {
    background: whitesmoke;
}
.squares:nth-child(3):hover {
    background: whitesmoke;
}
.squares:nth-child(4):hover {
    background: whitesmoke;
}

/*--animation keyframes--*/

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}